---
layout: page
---

# Fin

## Any questions?

🤚🙋‍♂️🙋‍♀️❔🙋‍♀️🤚✋🙋‍♂️❔🙋‍♂️❔🙋‍♂️❔❔🙋‍♀️🙋‍♀️❔✋

## Some nice CSS resources

- [ModernCSS.dev](https://moderncss.dev/) - Great blog by Stepanie Eckles. Contains lots of examples in a beautiful site.
- [SmolCSS](https://smolcss.dev/) - Accompniment to the above containing minimal snippets for CSS layouts.
- [Josh Comeau's blog](https://www.joshwcomeau.com/) - This guy understands CSS. Great in-depth articles and another beautiful site.
- [CSS for JS dev](https://css-for-js.dev/) - Josh's CSS course which I highly recommend. A lot of the stuff in this presentation I learned from him.
- [CSS tricks](https://css-tricks.com/) - So many articles on this one! Chris Coyier's site who is co-creator of [Codepen](codepen.io)
- [Smashing magazine](https://www.smashingmagazine.com/) - Another site with so many articles. Great web developer content. Not just CSS.
- [Learn with Jason](https://www.learnwithjason.dev/) - Fun video learning series from Jason Lengstorf. Broadcasts usually on Tuesday and Thursday evenings.

## Thanks for listening

I'm very happy to talk more in-depth about CSS (or Svelte, React, Next...) over a few beers anytime!

🍻🍻😂🍻🍻😝🍻🍻🙊🍻🍻🤮🍻🍻🙃🍻🍻🤭🍻🍻🤪🍻🍻😵🍻🍻