---
layout: page
---
<script>
  import VariableComponent from "../lib/VariableComponent.svelte";
</script>

# CSS Variables

> All programming languages use variables. Why shouldn't CSS? 🤷‍♀️

<img src="https://i.imgflip.com/5vcane.jpg" alt="meme" />

You can set one with double dashes the same way to set a property.

Then consume it anywhere within the scope of the element.

```
.😡 {
  --my-color: red;
  color: var(--my-color);
}
```

You can set global css variables on the root 🌳 (html tag or shadow root?)

```
:root {
  --gutter-width: 16px
}
```

They can also be set inside media queries 🎥

```
:root {
  @media (min-width: 700px) {
    --gutter-width: 32px;
  }
}
```

You can even set them in your React/Svelte components which us allows us to control them with JS.

Useful for making generative art 🖼

```
<script>
  const items = [...Array(20).keys()]
</script>

<div>
  {#each items as item}
    <div
      class="👻"
      style="--color-deg: {(item * 360) / 20};--item-width: {item * 20 + 20}px"
    />
  {/each}
</div>

<style lang="scss">
  .👻 {
    background-color: hsl(var(--color-deg) 100% 50%);
    width: var(--item-width, 20px);
    height: 20px;
    margin-bottom: 4px;
  }
</style>
```

<VariableComponent />
